@page
@using System.Globalization
@model Web.Pages.Movimientos.DetalleModel
@{
}
<header class="subhead">
</header>

<section class="page-section" id="detalle" style="background-color: #ffffff">
    <div class="container" style="max-width: fit-content;">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Detalle del movimiento</h2>
            <h3 class="section-subheading text-muted">Información completa del movimiento seleccionado.</h3>
        </div>

        @if (Model.movimiento != null)
        {
            <div class="card mb-3 w-100 shadow-sm">
                <div class="card-body">
                    <div>
                        <b>Cuenta:</b> @Model.nombreCuenta
                    </div>
                    <div>
                        <b>Categoría:</b> @Model.nombreCategoria
                    </div>
                    <div>
                        <b>Tipo de Movimiento:</b> @Model.nombreTipoMovimiento
                    </div>
                    <div>
                        <b>Descripción:</b> @Model.movimiento.Descripcion
                    </div>
                    <div>
                        <b>Monto:</b> @Model.movimiento.Monto.ToString("C0", new CultureInfo("es-CR"))
                    </div>
                    <div>
                        <b>Fecha:</b> @Model.movimiento.Fecha.ToString("dd/MM/yyyy")
                    </div>
                </div>
            </div>
        }
        <a class="btn btn-primary" asp-page="./Index">Regresar</a>
        <a class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.movimiento.IdMovimiento">Editar</a>
        <a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@Model.movimiento.IdMovimiento">Eliminar</a>
    </div>
</section>
